.container{
    margin : 30px
}
.table{
    min-width: 750px;
}
.imageEmployee{
    width: 120px;
    height: 100px;
    border-radius: 20px;
}
.customBtn{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    border-radius: 3;
    box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    color: white;
    height: 48;
    padding: 5px 30px;
    margin-bottom: 10px;
}